body {
  background-color: White;
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: White;
  font-color: "660066";
  text-align: center;
  font-size: "7.0px";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  max-width: 40%
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
}
h1 {
  text-align: center;
  color: black;
  font-size: "7.0px";
}
h2 {
  text-align: center;
  color: purple;
  font-size: "7.0px";
}
.topnav {
  background-color: White;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #660066;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #660066;
  color: black;
}

.topnav a.active {
  background-color: #660066;
  color: white;
}

footer {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: White;
  font-color: "000000";
} 
